---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout lang="ja" title="Welcome to Astro.">
  <div>
    <Navigation />
  </div>
  <a href="two">two</a>
  <a href="/ja/">ja</a>
</Layout>
