---
import { css } from "../../styled-system/css";
---

<div
  class={css({
    p: 4,
    borderBottomWidth: "1px",
    borderColor: "gray.300",
    position: "sticky",
    top: 0,
    bgColor: "white",
    height: "60px",
    display: "flex",
  })}
>
  <div
    class={css({
      px: 2,
      fontSize: "xl",
      display: "flex",
      alignItems: "center",
    })}
  >
    mysql-to-zod
  </div>
</div>
