---
import { stack } from "../../styled-system/patterns";
import { pages } from "../pages/ja/pages.ja";
---

<div
  class={stack({
    bgColor: "white",
    fontSize: "sm",
    position: "sticky",
    top: "60px",
    p: 6,
    color: "gray.600",
  })}
>
  {
    pages.map((page) => (
      <div>
        <a href={page.url}>{page.title}</a>
      </div>
    ))
  }
</div>
